.sign-in-with-google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.google-logo {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.button-text {
  font-weight: bold;
}

/*  */

.app {
  text-align: center;
  /* centered content */

}